In [1]:
import pandas as pd
from datetime import datetime

items_data = {
    'item_id': [1, 2, 3, 4, 5],
    'item_name': ['Laptop', 'Phone', 'Headphones', 'Desk', 'Chair'],
    'price': [1200, 800, 150, 300, 200],
    'department': ['Electronics', 'Electronics', 'Electronics', 'Furniture', 'Furniture']
}
items = pd.DataFrame(items_data)

customers_data = {
    'customer_id': [101, 102, 103, 104, 105],
    'first_name': ['John', 'Alice', 'Bob', 'John', 'Eve'],
    'last_name': ['Doe', 'Smith', 'Lee', 'Wick', 'Doe'],
    'address': ['NY', 'CA', 'TX', 'NY', 'FL']
}
customers = pd.DataFrame(customers_data)

sales_data = {
    'date': [
        '2023-03-18', '2023-03-18', '2023-01-15', '2023-01-20', '2023-01-30',
        '2022-11-15', '2022-05-12', '2022-07-10', '2023-03-18'
    ],
    'order_id': [201, 202, 203, 204, 205, 206, 207, 208, 209],
    'item_id': [1, 2, 3, 2, 4, 4, 5, 1, 1],
    'customer_id': [101, 102, 103, 104, 105, 101, 102, 104, 101],
    'quantity': [1, 2, 1, 1, 1, 1, 3, 1, 2],
    'revenue': [1200, 1600, 150, 800, 300, 300, 600, 1200, 2400]
}
sales = pd.DataFrame(sales_data)


sales['date'] = pd.to_datetime(sales['date'])

sales.head(), items.head(), customers.head()

(        date  order_id  item_id  customer_id  quantity  revenue
 0 2023-03-18       201        1          101         1     1200
 1 2023-03-18       202        2          102         2     1600
 2 2023-01-15       203        3          103         1      150
 3 2023-01-20       204        2          104         1      800
 4 2023-01-30       205        4          105         1      300,
    item_id   item_name  price   department
 0        1      Laptop   1200  Electronics
 1        2       Phone    800  Electronics
 2        3  Headphones    150  Electronics
 3        4        Desk    300    Furniture
 4        5       Chair    200    Furniture,
    customer_id first_name last_name address
 0          101       John       Doe      NY
 1          102      Alice     Smith      CA
 2          103        Bob       Lee      TX
 3          104       John      Wick      NY
 4          105        Eve       Doe      FL)

Total number of orders completed on 18th March 2023

In [2]:
orders_march18 = sales[sales['date'] == '2023-03-18']
total_orders_march18 = orders_march18['order_id'].nunique()
print("Total orders on 18th March 2023:", total_orders_march18)

Total orders on 18th March 2023: 3

Orders on 18th March 2023 with first name ‘John’ and last name ‘Doe’

In [3]:
merged = sales.merge(customers, on='customer_id')
john_doe_orders = merged[
    (merged['date'] == '2023-03-18') &
    (merged['first_name'] == 'John') &
    (merged['last_name'] == 'Doe')
]
print("Orders by John Doe on 18th March 2023:", john_doe_orders['order_id'].nunique())

Orders by John Doe on 18th March 2023: 2

Total customers who purchased in Jan 2023 & average spend per customer

In [10]:
jan_sales = sales[(sales['date'].dt.month == 1) & (sales['date'].dt.year == 2023)]
total_customers_jan = jan_sales['customer_id'].nunique()
avg_spend_per_customer = jan_sales.groupby('customer_id')['revenue'].sum().mean()

print("Total customers in Jan 2023:", total_customers_jan)
print("Average spend per customer:", avg_spend_per_customer)

Total customers in Jan 2023: 3
Average spend per customer: 416.6666666666667

Departments with less than $600 revenue in 2022

In [5]:
sales_2022 = sales[sales['date'].dt.year == 2022]
sales_2022 = sales_2022.merge(items, on='item_id')
dept_revenue_2022 = sales_2022.groupby('department')['revenue'].sum()
low_revenue_depts = dept_revenue_2022[dept_revenue_2022 < 600]
print("Departments with < $600 revenue in 2022:\n", low_revenue_depts)

Departments with < $600 revenue in 2022:
 Series([], Name: revenue, dtype: int64)

Most and least revenue generated by a single order

In [7]:
revenue_by_order = sales.groupby('order_id')['revenue'].sum()
print("Most revenue from an order:", revenue_by_order.max())
print("Least revenue from an order:", revenue_by_order.min())

Most revenue from an order: 2400
Least revenue from an order: 150

Orders in the most lucrative order

In [9]:
most_revenue_order_id = revenue_by_order.idxmax()
most_lucrative_orders = sales[sales['order_id'] == most_revenue_order_id]
print("Most lucrative order ID:", most_revenue_order_id)
most_lucrative_orders

Most lucrative order ID: 209

        date  order_id  item_id  customer_id  quantity  revenue
8 2023-03-18       209        1          101         2     2400